* {
    color: white;
    background-color: black;
}

.nadpis {
    font-size: xxx-large;
    text-align: center;
}

.nadpis2 {
    font-size: xx-large;
    text-align: center;
}





.O_cem {
    font-size: x-large;
    color: cyan;
}

.PRVNIodstavec {
    padding: 1%;

}

.prvniODS {
    font-size: larger;
}

.odkaz {
    text-decoration: none;
}

.odkaz:hover {
    color: cyan;
}










.fot {
    background-color: #361146;
    padding-left: 8%;
    padding-right: 8%;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #361146;
    padding: 1%;
}

.download {
    background-color: #361146;
}

.download:hover {
    color: cyan;
}